.Formulario{
    display: flex;
    flex-direction: column;
}
.inputInit{
    font-size: 1.5rem;
}
.inputInit:focus{
    outline: none;
}
.btnInit{
    margin-top: 2rem;
    font-size: 2rem;
    width: 100%;
    color: white;
    border: none;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    background-color: #0047CE;
    cursor: pointer;
    letter-spacing: 3px;
    transition: 0.2s;
} 
.btnInit:hover{
    background-color: cornflowerblue;
    box-shadow: black 2px 2px 5px;
}
.dangerInit{
    color: crimson;
    letter-spacing: 2px;
}

@media (max-width: 700px) {
    .btnInit{
        font-size: 4vh;
    }
}
